@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:wght@300;400;500;600;700&family=Jockey+One&family=Libre+Baskerville&family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Inter:wght@400;700&family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Inter&family=Jockey+One&display=swap');
:root {
    --pink-button: #F582AE;
    --bluetext: #172C66;
    --background-title: #88D3DD;
    --background-page-button: #FEF6E4;
    --fill-grey-cards: #d3d9f3;
    --first-card-color: #B8C1EC;
    --second-color: #ffffff;
    --font-title: 'jockey-one', sans-serif;
    --font-content: 'inter', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
}

#titleButtonFavorites img {
    display: none;
}

#contentSection{
    display: flex;
    flex-direction: column;
    background-color: var(--background-page-button);
    height: 42em;
}

#buttons-favorites {
    width: 100%;
    text-align: center; /* Centra el botón horizontalmente */
    margin-bottom: 40px;
}

#buttons-favorites .Home {
    background-color: #B8C1EC; /* Ajusta el color de fondo según tus preferencias */
    border-color: #172C66 solid; /* Ajusta el color del borde según tus preferencias */
    color: var(--bluetext);
    border-radius: 8px;
    border: 3px solid #172C66;
    font-family: 'jockey one', sans-serif; /* Ajusta la fuente según tus preferencias */
    font-size: 1.3rem;
    padding: 1%;
    width: 40%;
    cursor: pointer;
}

.Favorite {
    font-family: Jockey One;
    text-align: center;
    color: var(--bluetext);
    font-size: 2.2rem;
    padding: 20px;
}
#cards-Favorites{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
}

.card-generated{
    display: flex;
    position: relative;
    background-color: var(--first-card-color);
    width: 55%;
    min-height: 175px;
    padding: 30px;
    border: #172C66 solid;
    border-radius: 20px;
}
.card-generated span{
    color: var(--bluetext);
    font-size: 1.2rem;
    font-family: var(--font-content);
    font-weight: 500;
}
.card-generated button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: initial;
    font-size: 0.6rem;
    position: absolute;
    bottom: 9px;
    right: 9px;
}
#scrollToTopButton{
    margin-top: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background-color: initial;
    font-size: 0.6rem;
    cursor: pointer;
}

/* versión Desktop*/

@media (min-width:1024px) {
    #contentSection{
        display: flex;
        flex-direction: row;
        min-height: 500px;
}
#titleButtonFavorites{
    background-color: var(--first-card-color);
    width: 40%;
    display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
}
    #cards-Favorites{
        width: 60%;
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: var(--background-page-button);
    }
    .card-generated{
        padding: 30px;
    }
    .card-generated span{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .card-generated button{
        font-size: 0.4rem;
    }
    #scrollToTopButton{
        display: none !important;
    }
    #titleButtonFavorites img {
        display: block;
        margin-top: auto;
    }
    #buttons-favorites{
        margin-top: 40px;
    }
    #buttons-favorites .Home{
        background-color: var(--background-page-button);
        border-color: var(--bluetext) solid;
        padding: 0.3em 0.3em 0.4em;
        border-radius: 8px;
        border: 3px solid #172C66;
        font-family: jockey one;
        font-size: 33px;
        width: 10em;
        height: 78px;
        cursor: pointer;
    }
}

@media (max-width: 896px) {
    body{
        background-color: var(--background-page-button);
    }
}