body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#logo-favorites img {
    display: none;
  }
  .title{ 
    background-color: #8BD3DD ;
    display: flex;
    justify-content: center;
    text-align: center;
    padding:5%;
 
    
  }
   