@import url(./styles.css);

:root{
    --pink-button:#F582AE;
    --bluetext:#001858;
    --background-title:#88D3DD;
    --background-page-button: #FEF6E4;
    --fill-grey-cards:#d3d9f3;
    --first-card-color:#B8C1EC;
    --second-color:#ffffff;
    --font-title:'jockey-one', sans-serif;
    --font-content:'inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {

.container {
    display: flex;
    width: 345px;
    height: 105px;
    justify-content: center;
    align-items: center;

}
.title {
    font-size: 33px;
    color: var(--bluetext);
}
#content{
    background-color: var(--background-page-button);
}

#section-logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 376px;
    background: var(--fill-grey-cards);
}

#section-logo img {
    width: 260.666px;
    height: 252px;
}

#cards-section {
    display: flex;
    width: 406px;
    height: 519px;
    padding: 0px 0.143px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-container {
    width: 356px;
    height: 211px;
    transform: rotate(78.118deg);
    flex-shrink: 0;
    border-radius: 50px;
    background-color: var(--first-card-color);
}

.card-container {
    max-width: 80vw; 
    height: 60vh; 
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fill-grey-cards)
}
.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#buttons-section {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem;
}
.next-button, .favorites-button {
    width: 20vw;
    height: 10vh;
    cursor: pointer;
}
.next-button{
    width: 207px;
height: 78px;
flex-shrink: 0;
border-radius: 15px;
border: 3px solid #172C66;
background: var(--pink-button) ;
font-size: 33px;
font-family: jockey one;
}
.favorites-button{
    display: flex;
width: 207px;
height: 78px;
justify-content: center;
align-items: center;
background: var(--first-card-color);
}
.next-button:hover, .favorites-button:hover {
    background-color: #555;
}
}