@import url(./styles.css);

/* Estilos base que se aplicarán en todos los tamaños de pantalla */
:root {
  --pink-button: #F582AE;
  --bluetext: #001858;
  --background-title: #88D3DD;
  --background-page-button: #FEF6E4;
  --fill-grey-cards: #d3d9f3;
  --first-card-color: #B8C1EC;
  --second-color: #ffffff;
  --font-title: 'jockey-one', sans-serif;
  --font-content: 'inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

/* Estilos para dispositivos móviles */


@media (max-width: 896px) {
  .title {
    color: var(--bluetext);
    text-align: center;
    font-family: Jockey One;
    font-size: 50px;
  }

  .container {
    background-color: var(--background-title);
    width: 100%;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* Tres filas: auto, 1fr, auto */
    height: 100vh;
    width: 100%;
  }

  #section-logo {
    grid-row: 1 / 2;
    background-color: var(--first-card-color);
    width: 100%;
    height: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section-logo img {
    width: 15em;
    height: 15em;
  }


  #cards-section {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 519px;
    width: 100%;
    background-color: var(--background-page-button);
    padding-top: 1em
  }

  #buttons-section {
    grid-row: 3 / 4;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-page-button);
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .card-container {

    width: 17em;
    height: 452px;
    border-radius: 45px;
    background-color: var(--fill-grey-cards);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .quote-container {
    /* Modifica los estilos para la cita en dispositivos móviles */
    background-color: var(--first-card-color);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: transform 0.6s;
    height: 23em;
    width: 12em;
    border-radius: 45px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrar verticalmente */
    justify-content: space-between;
    transform: rotate(-13.731deg);
    padding: 2em;
  }

  .quote-content {
    /* Modifica los estilos para el contenido de la cita en dispositivos móviles */
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    word-wrap: break-word;
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    max-width: 100%;
    color: var(--bluetext);
    font-weight: bold;
  }

  .favorites-icon-container {
    /* Modifica los estilos para el contenedor del icono de favoritos en dispositivos móviles */
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .fa-heart:before {
    /* Modifica los estilos para el icono de favoritos en dispositivos móviles */
    content: "\f004";
    color: var(--pink-button);
    font-size: 3em;
    cursor: pointer;
  }



  .next-button {
    background-color: var(--pink-button);
    border-color: var(--bluetext) solid;
    padding: 0.3em 0.3em 0.4em 0.3em;
    border-radius: 8px;
    border: 3px solid #172C66;
    font-family: jockey one;
    font-size: 33px;
    width: 6em;
    height: 2em;
    cursor: pointer;
  }

  .favorites-button {
    background-color: var(--first-card-color);
    border-color: var(--bluetext) solid;
    padding: 0.3em 0.3em 0.4em;
    border-radius: 8px;
    border: 3px solid #172C66;
    font-family: jockey one;
    font-size: 33px;
    width: 6em;
    height: 2em;
    cursor: pointer;
  }
  
  #asideFavorites {
    display: none;;
  }

 
}